# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json
*.db
*.sqlite
*.log

# IDE specific
.vscode/
.idea/

# Node modules (لو فيه Frontend)
node_modules/

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Secrets & Certificates
*.pfx
*.key
*.pem
